.book-page {
  padding: 40px 40px 0 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
  color: #fff;

  &__image-container {
    width: 35%;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;

    .image {
      display: inline-block;
      width: auto;
      height: 100%;
    }
  }

  &__info {
    width: 60%;
    padding-right: 20px;
  }

  &__price {
    width: 60%;
    padding-right: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    line-height: 145%;
    font-size: 14px;
    text-align: justify;
  }
}
