* {
  transition: all 0.3 ease-in;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

.opacity-enter {
  opacity: 0;
}
.opacity-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
